@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 300ms;
  outline: none;
  margin: 0px;
  padding: 0px;
  @apply placeholder:select-none;
}

img {
  user-select: none;
}

.btn {
  @apply bg-OpenColor-gray-2 hover:bg-OpenColor-gray-3 rounded-lg px-4 py-2 my-2;
}

.btn-hover {
  @apply hover:bg-OpenColor-gray-3 rounded-lg px-4 py-2 my-2;
}

.loading-hidden {
  @apply opacity-0;
}